@model Projet_Final_Web.ViewModel.Message

@{
    ViewData["Title"] = "Envoi Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contenu du message envoyé.</h2>

<div>
    <span>Destinataire(s): </span>
    <span>@Model.Destinataire</span>
</div>

<br />

<div>
    <span>Sujet: </span>
    @Html.DisplayFor(model => model.Sujet)
</div>

<br />

<div>
    <span>Contenu: </span>
    @Html.DisplayFor(model => model.Corps)
</div>